@import "./variables.less";

body {
  margin: 0;
  font-family: "Roboto", "Montserrat", sans-serif;
}

body,
html {
  overflow-x: hidden;
}

.exercise-header {
  padding: 1rem 0;
  text-align: center;
  color: #fff;
  background-color: #00a4bd;

  a {
    color: #fff;
    background-color: @backgroundColor;
    padding: 15px;
    margin-left: 20px;
    text-decoration: none;
    font-size: 16px;
  }

  a:hover {
    background-color: #dadada;
    color: @textDark;
  }

}

h1 {
  text-align: center;
  font-family: @fontMontserrat;
  color: @textDark;
}

.testimonial {
  display: flex;
  padding-left: 100px;

  .testimonial__quote {
    border-left: 2px solid @backgroundColor;
  }

  .testimonial__quote::before {
    content: open-quote;
    font-size: 2rem;
    font-family: "Times New Roman", Times, serif;
    position: absolute;
    background-color: @backgroundColor;
    color: #fff;
    width: 25px;
    height: 25px;
    border-radius: 50%;
    border: 1px solid white;
    text-align: center;
    margin-left: -15px;
  }

  .small__circle::before {
    content: "\002E";
    font-size: 0.3rem;
    color: #ff5c35;
    position: absolute;
    background-color: @backgroundColor;
    border-radius: 50%;
    width: 8px;
    height: 8px;
    margin-left: -2.8px;
  }

  .quote {
    padding: 50px 10px 50px 170px;
    font-family: @fontRobotSlab;
    font-size: 0.8rem;
    color: @textDark;
    font-weight: 300;
    margin-right: -30px;
    margin-top: 5px;
    width: 50%;
  }

  p {
    padding: 15px 0 0 15px;
    font-size: 1rem;
  }

  span {
    padding-left: 15px;
    font-family: @fontMontserrat;
    color: #474747;
    font-size: 0.8rem;
    font-weight: 700;
  }

  .button__side {
    margin: auto auto auto 15px;

    a {
      margin: auto auto auto 15px;
      text-align: left;
      background-color: @buttonColor;
      padding: 10px;
      text-transform: uppercase;
      font-size: 10px;
      font-family: @fontMontserrat;
      text-decoration: none;
      font-weight: 700;
      color: #fff;
      word-wrap: unset;
    }
  }
}

.header-container {
  display: grid;
  gap: 60px;
  grid-template-columns: 1fr 1fr;
  grid-template-areas:
    "a b"
    "c d";
  padding: 25px 20px 25px 20px;
  margin: 50px 50px 0 50px;
  text-align: left;
  border-top: @borderStyle;
  border-left: @borderStyle;
  border-right: @borderStyle;
  border-bottom: 0;

  #allcheckboxes {
    grid-area: a;

    .item-1 {
      padding: 20px;
    }

    .item-2 {
      padding: 20px;
    }

    .item-3 {
      padding: 20px;
    }

    .multiselect1,
    .multiselect2 {
      position: absolute;
    }

    .multiselect2 {
      left: 200px;
    }

    #selectBox1,
    #selectBox2 {
      position: relative;
      text-transform: uppercase;

      select {
        font-family: @fontMontserrat;
        color: @textDark;
        font-weight: 700;
        padding: 7px 15px 7px 5px;
        text-transform: uppercase;
        background-color: @lightGray;
        border-top: 0;
        border-right: 0;
        border-bottom: @borderStyle;
        border-left: 0;
      }
    }

    .selectBox select {
      width: 100%;
      font-weight: bold;
    }

    .overSelect {
      position: absolute;
      left: 0;
      right: 0;
      top: 0;
      bottom: 0;
    }

    #checkboxes1,
    #checkboxes2 {
      display: none;
      background-color: #fff;
      border: 1px #dadada solid;
      text-align: left;
      height: 233px;
      overflow: auto;
    }

    #checkboxes1 label,
    #checkboxes2 label {
      display: block;
      padding: 10px;
      border-bottom: @borderStyle;

      input {
        margin-right: 14px;
        opacity: 1;
        pointer-events: all;
      }
    }

    #checkboxes1 label:hover,
    #checkboxes2 label:hover {
      background-color: #1e90ff;
    }
  }

  #searchBar {
    grid-area: b;
    justify-self: end;

    .movie__search {
      right: 80px;
      position: absolute;
      color: @lightGray;

      input {
        height: 30px;
        text-align: right;
        padding-right: 10px;
        border-radius: 2px;
        opacity: 1;
        pointer-events: all;
        border: 1px solid @mediumGray;
      }

      input[placeholder='&#xF002'] {
        align-items: right;
      }
    }
  }

  #radio_movie {
    grid-area: c;
    font-family: @fontMontserrat;
    font-weight: 700;
    font-size: 0.9rem;
    color: @textDark;

    input {
      margin-right: 7px;
      opacity: 1;
      pointer-events: all;
    }
  }

  #filter_link {
    grid-area: d;
    justify-self: end;
    opacity: 1;

    input {
      pointer-events: all;
      text-transform: uppercase;
      font-size: 0.8rem;
      font-weight: 700;
      font-family: @fontMontserrat;
      color: @buttonColor;
      opacity: 1;
      pointer-events: all;
      padding: 3px;
      border: none;
      background-color: transparent;
    }

    input:hover {
      color: @textDark;
    }

  }


}


#wrapper {
  margin: 0 50px 50px 50px;
  padding: 0 10px 0 10px;
  border-top: 0;
  border: 2px solid #e7e7e7;

  ul {
    display: grid;
    gap: 20px;
    padding-left: 0;
    grid-template-columns: 1fr 1fr 1fr;
    list-style: none;
  }

  p {
    font-size: 0.9rem;
    font-weight: 700;
    font-family: @fontMontserrat;
    color: @textDark;
    line-height: 1;
  }

  p:nth-child(3) {
    font-size: 0.8rem;
    word-break: break-word;
  }

  img {
    width: 100%;
    height: 700px;
  }
}

@media only screen and (max-width: 820px) {
  .header-container {
    grid-template-columns: 1fr 1fr;
    margin: 20px 20px 0 20px;
    padding: 20px 15px;
    gap: 0;

    #allcheckboxes {
      padding-bottom: 15px;

      .multiselect1,
      .multiselect2 {
        position: static;
      }

      .multiselect1 {
        padding-bottom: 20px;
      }
    }

    #searchBar {
      .movie__search {
        position: relative;
        right: 0;
      }

    }


  }




  .testimonial {
    display: block;
    padding: 0px;

    .quote {
      width: 80%;
      font-size: 1.2rem;
      padding: 50px;
    }

    .button__side {

      a {
        margin: auto;
        display: block;
        width: 200px;
        text-align: center;
      }
    }

    span {
      font-size: 0.9rem;
    }
  }

  #wrapper {
    margin: 0 20px;

    ul {
      display: grid;
      gap: 20px;
      padding-left: 0;
      grid-template-columns: 1fr 1fr;
      list-style: none;
    }

    img {
      width: 100%;
      height: auto;
    }
  }
}