<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8" />
        <meta name="viewport" content="width=device-width, initial-scale=1.0" />
        <meta http-equiv="X-UA-Compatible" content="ie=edge" />
        <script src="https://cdn.jsdelivr.net/npm/vue@2.7.10/dist/vue.js"></script>

        <link
            href="https://fonts.googleapis.com/css?family=Montserrat:400,700"
            rel="stylesheet" />
        <link
            href="https://fonts.googleapis.com/css?family=Roboto+Slab:300,400"
            rel="stylesheet" />
        <link
            rel="stylesheet/less"
            type="text/css"
            href="../styles/index.less" />
        <!-- <link rel="stylesheet" href="../styles/index.css"> -->

        <title>Candidate Exercise</title>
    </head>

    <body>
        <div class="testimonial">
            <div class="quote">
                <div class="vertical__line">
                    <div class="testimonial__quote" role="quote">
                        <p>
                            Gingerbread tart cupcake cake muffin cookie
                            liquorice tiramisu. Toffee cupcake cake cake
                            croissant icing carrot cake cookie. Dessert
                            chocolate bar apple pie sesame snaps liquorice
                            carrot cake cookie danish.
                        </p>
                    <span>Indiana Jones, Archaeologist</span>
                    </div>
                </div>
                <div class="small__circle"></div>
            </div>
            <div class="button__side">
            <a class="button" href="" role="button">Tell Me More</a>
        </div>
        </div>
        <script src="https://cdn.jsdelivr.net/npm/less" ></script>
    </body>
</html>
